In [1]:
print((2,5)+(5,2))

(2, 5, 5, 2)

In [2]:
8/3

2.6666666666666665

In [3]:
8//3

2

In [4]:
flavour=input("What flavour would you like ")
dessert_type=input("What type of dessert would you like ")
print("You have ordered", flavour+"-"+dessert_type)

What flavour would you like chocolate
What type of dessert would you like chocolate
You have ordered chocolate-chocolate

In [12]:
size = 7

m = (2 * size) - 2

for i in range(0, size):

    for j in range(0, m):

        print(end=" ")

    m = m - 1 # decrementing m after each loop

    for j in range(0, i + 1):

        # printing full Triangle pyramid using stars

        print(str(m)+' ', end=' ')

    print(' ')

            11
           10  10
          9  9  9
         8  8  8  8
        7  7  7  7  7
       6  6  6  6  6  6
      5  5  5  5  5  5  5

In [13]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

Enter year to check New Zealand made it to Finals in 20th century : 2019
New Zealand made it to Finals

In [14]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:
    L3[i] = L1[i] - L2[i]
    print(L3)

[2, 1, 2, 3, 4]
[2, 6, 2, 3, 4]
[2, 6, 15, 3, 4]
[2, 6, 15, 4, 4]
[2, 6, 15, 4, 8]

In [15]:
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [16]:
def list_diff(list1,list2):
    list3 = []
    for  i in range(0, len(list1)):
        list3.append(list1[i] - list2[i])
    return list3

L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]

print(list_diff(L1, L2))

[2, 6, 15, 4, 8]

In [17]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [19]:
type(sample_map)

map

In [20]:
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

In [23]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

list(filter(lambda x : x[1] > 18, students_data.values()))

[['Cornor', 19], ['Trump', 20]]

In [25]:
from functools import reduce
list_1 = ['Paul','Ted','Tedu']
reduce(lambda x,y: x + y,list_1)

'PaulTedTedu'

In [30]:
def my_func(*args):
    return(sum(args))
    
 print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [32]:
L =[1,2,3,4]
def cube_func(n):
    return n**3
print(list(map(cube_func,L)))

[1, 8, 27, 64]

In [33]:
def split(word):
    return list(word)
word = 'Learn'
print(split(word))

['L', 'e', 'a', 'r', 'n']

In [34]:
[ch for ch in 'Learn']

['L', 'e', 'a', 'r', 'n']

In [35]:
chars =[]

for char in 'Learn':
    chars.append(char)
    
print(chars)

['L', 'e', 'a', 'r', 'n']

In [38]:
a = True
b=False
c=True

if not a or b:
    print ("a")
elif not a or not b and c:
    print ("b")
elif not a or b or not b and a:
    print ("c")
else:
    print ("d")

b

In [39]:
import pandas as pd

S1=pd.Series([0,2,4,6,8,10,12])
S2 = pd.Series([0,3,6,9,12,15])

S1[~S1.isin(S2)]

1     2
2     4
4     8
5    10
dtype: int64

In [42]:
df1 = pd.DataFrame({'Name':["A","B","C","D"],'Age':[1,2,3,4],'Gender':['M','F','M','F']})
df2 = pd.DataFrame({"BG":['A','B','O','AB'],'Height':[123,234,345,456]})

pd.concat([df1,df2],axis=1)

  Name  Age Gender  BG  Height
0    A    1      M   A     123
1    B    2      F   B     234
2    C    3      M   O     345
3    D    4      F  AB     456

In [43]:
import numpy as np

In [44]:
L1=[1,2,3]
L2 = [4,5,6]

In [47]:
np.array(L1)+np.array(L2)

array([5, 7, 9])

In [48]:
pd.asarray(L1)+pd.asarray(L2)

AttributeError: module 'pandas' has no attribute 'asarray'

In [51]:
df1.iloc[[3],[0,1,2]]

  Name  Age Gender
3    D    4      F

In [57]:
items_dict = {"chicken":300,"dosa":120}

bill = sum(items_dict.values())

print({"reetesh":bill*.7,"sumit":bill*0.3})

{'reetesh': 294.0, 'sumit': 126.0}

In [59]:
from sklearn.metrics import precision_recall_curve

In [61]:
?precision_recall_curve

In [62]:
import numpy as np

np.linalg.inv([[3,-3],[4,-5]])

array([[ 1.66666667, -1.        ],
       [ 1.33333333, -1.        ]])