In a school, there are total 100 students numbered from 1 to 100. You’re given three lists named ‘C’, ‘F’, and ‘H’, representing students who play cricket, football, and hockey, respectively. Based on this information, find out and print the following: 
- Students who play all the three sports
- Students who play both cricket and football but don’t play hockey
- Students who play exactly two of the sports
- Students who don’t play any of the three sports

In [19]:
C = [7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76, 80, 81, 82, 90, 93, 95, 97, 99]
F = [1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95, 96]
H = [5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86, 87, 92, 94, 95]

#### Q1. Which are the students who play all the three sports?
- [22, 39]
- [39, 82]
- [40, 95]
- [82, 94]

In [7]:
C_set = set(C)
F_set = set(F)
H_set = set(H)
set.intersection(C_set, F_set, H_set)

{40, 95}

#### Q2. Which are the players who play both cricket and hockey but don't play football?
- [20, 21, 25, 62, 67, 71, 75, 76, 82]
- [20, 21, 22, 25, 30, 32, 34]
- [20, 21, 22, 25, 30, 32, 34, 39, 43, 44, 62]
- [20, 21, 68, 71, 75, 76]

In [13]:
c_h = set.intersection(C_set, H_set)
c_h_list = list(c_h)
#print(c_h_list)
c_h_notF = []
for i in c_h_list:
    if i not in F:
        c_h_notF.append(i)
print(sorted(c_h_notF))

[67, 71, 40, 75, 76, 82, 20, 21, 25, 62, 95]
[20, 21, 25, 62, 67, 71, 75, 76, 82]

#### Q3. How many players play exactly two sports?
- 19
- 20
- 21
- 22

In [26]:
full_list = C+F+H
d={}
for i in full_list:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]=d[i]+1

    
print(d)
d1={}
for i in d:
    if d[i]==2:
        d1[i] = 2

len(d1)

{7: 2, 8: 1, 9: 1, 18: 1, 20: 3, 21: 3, 25: 3, 26: 1, 27: 1, 31: 1, 32: 2, 34: 2, 35: 1, 36: 1, 40: 4, 43: 2, 45: 1, 47: 1, 53: 1, 58: 1, 62: 3, 67: 3, 68: 2, 71: 3, 72: 1, 74: 1, 75: 3, 76: 3, 80: 1, 81: 1, 82: 3, 90: 2, 93: 2, 95: 4, 97: 1, 99: 1, 1: 1, 10: 1, 13: 1, 16: 1, 22: 3, 24: 1, 29: 1, 30: 3, 39: 3, 44: 3, 48: 1, 56: 1, 60: 1, 65: 1, 69: 1, 73: 1, 77: 3, 78: 1, 94: 3, 96: 1, 5: 2, 12: 2, 14: 2, 17: 2, 28: 2, 37: 2, 38: 2, 42: 2, 57: 2, 59: 2, 61: 2, 83: 2, 86: 2, 87: 2, 92: 2}

22

#### Q4. Which of these students do not play any of the sports? (More than one option may be correct)
- 41
- 48
- 63
- 85

In [27]:
ns_list = [41, 48, 63, 85]

for i in ns_list:
    if i not in full_list:
        print(i)

41
63
85